# Data Loading, Storage, and File Formats

Accessing data and getting it into your script is the first step of any data project. Here it is covered several ways of importing data from files and other sources into a python application, as weel as ways to export data to files. 

Input and Output typically falls into a few main categories: rerading text files and other more efficient on-disk format, loading data from databases, and interacting with network sources like web APIs.

### Content
- 1. Reading and writing data in text formats.
    - Handling Plain text.
    - Getting Tabular data from a text file.
    - Reading text files in pieces.
    - Writing data to text format.
- 2. Loading data from databases.
- 3. Interacting with network sources like web APIs.

In [1]:
import pandas as pd

## 1. Reading and writing data in text formats

### Handling Plain text 

Text can arrive in different formats. Sometimes plain text `(.txt)` is of interest. Text files are perhaps the most common file type you'll encounter. Luckily, Python doesn't require a special library for processing it; you can simply rely on the methods of the file object returned by the `*open( )*` function. 

To Python, a text file is a sequence of string objects, each of those is one line of text file - that is, a sequence of character ending in a nondisplayed new line character `(\n)` or hard return. 

Please take a look to the following example. To humans, the passage consist of four paragraphs that includes several sentences; however, to Python, the passage includes four nonempty lines and three blank lines between them.

In [2]:
# Reading a text file in Python 

path = r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\Marine.txt"

with open(path, 'r') as f:  # The first artgument 'path' specify where the file is located, the second controls how the file will be used, 'r' for read only.
    content = f.read()      # The read method reads the entire content of the file object.
print(content)

# the with keyword is used to ensure that the file object is properly closed when the action is performed.

The Marine Mammal Center (TMMC) is a private, non-profit U.S. organization that was established in 1975 for the purpose of rescuing, rehabilitating and releasing marine mammals who are injured, ill or abandoned. It was founded in Sausalito, California, by Lloyd Smalley, Pat Arrigoni and Paul Maxwell. Since 1975, TMMC has rescued over 24,000 marine mammals.

It also serves as a center for environmental research and education regarding marine mammals, namely cetaceans (whales, dolphins and porpoises), pinnipeds (seals, fur seals, walruses and sea lions), otters and sirenians (manatees and dugongs).

Marine mammal abandonment refers to maternal separation; pups that have been separated from their mother before weaning. At the center, they receive specialized veterinary care: they are diagnosed, treated, rehabilitated and ideally, released back into the wild.

Animals in need of assistance are usually identified by a member of the public who has contacted the center. These animals represent the following major species: California sea lions, northern elephant seals, Pacific harbor seals, northern fur seals, Guadalupe fur seals, Hawaiian monk seals, and southern sea otters. On a few occasions, TMMC has taken in Steller sea lions and bottlenose/Pacific white-sided dolphins. The only non-mammals that TMMC takes in are sea turtles.

Rather than print the lines, you can send them to a list using a list comprenhension:

In [3]:
# Creating a list from a text file in Python 

path = r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\Marine.txt"

with open(path, 'r') as f:  
    lst = [line.strip() for line in f if line.strip()]

lst

['The Marine Mammal Center (TMMC) is a private, non-profit U.S. organization that was established in 1975 for the purpose of rescuing, rehabilitating and releasing marine mammals who are injured, ill or abandoned. It was founded in Sausalito, California, by Lloyd Smalley, Pat Arrigoni and Paul Maxwell. Since 1975, TMMC has rescued over 24,000 marine mammals.',
 'It also serves as a center for environmental research and education regarding marine mammals, namely cetaceans (whales, dolphins and porpoises), pinnipeds (seals, fur seals, walruses and sea lions), otters and sirenians (manatees and dugongs).',
 'Marine mammal abandonment refers to maternal separation; pups that have been separated from their mother before weaning. At the center, they receive specialized veterinary care: they are diagnosed, treated, rehabilitated and ideally, released back into the wild.',
 'Animals in need of assistance are usually identified by a member of the public who has contacted the center. These animals represent the following major species: California sea lions, northern elephant seals, Pacific harbor seals, northern fur seals, Guadalupe fur seals, Hawaiian monk seals, and southern sea otters. On a few occasions, TMMC has taken in Steller sea lions and bottlenose/Pacific white-sided dolphins. The only non-mammals that TMMC takes in are sea turtles.']

From this point onwards, you can use any method available for processing strings in Python, so you can organize it a tabular form.

### Getting Tabular data from a text file

Tabular data is easy to manage with `pandas`. Pandas features a number of functions for reading tabular data as a DataFrame object. Most of the parsing functions in pandas use a character as a delimiter between  columns. However, in some cases, a table might not have a fixed delimiter, using whitespace or some other pattern to separate fields.

In [4]:
# Example of how to use a space as delimiter between columns. 
path = r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\Price_table.txt"
table = pd.read_table(path, sep='\s+') # The term (\s+) is a regular expression used to indicates the elements after a space.
table

  MemStartDate  TotalPrice  UnitPrice
0   2007-07-13        50.5        5.5
1   2006-01-13        10.4        1.4
2   2010-08-13         3.5        0.5

As show in previous chapters, the most used parsing fucntion to get data from a text file is the `read_csv` function from pandas. This function loads data from a file, URL, or file-like object using comma as default delimiter. That's why these files are simply called *comma separated value (CSV)* files.

In [5]:
# Reading data from a local CSV file
path = r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\bikes.csv"
data = pd.read_csv(path)
data.head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy

*read_csv* and many other data reading functions perform _type inference_, because the column data types are not part of the data format. It is always recommended to check data types in our data frame using `info()`. In our example, *starttime* and *stoptime* columns were identified as text (object); however a correct type would be the date-time type. This transformation is easily done as explained in chapter 3.

In [6]:
# Checking the infered data type in each column
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             50089 non-null  object
 1   starttime          50089 non-null  object
 2   stoptime           50089 non-null  object
 3   tripduration       50089 non-null  int64
 4   from_station_name  50089 non-null  object
 5   start_capacity     50083 non-null  float64
 6   to_station_name    50089 non-null  object
 7   end_capacity       50077 non-null  float64
 8   temperature        50089 non-null  float64
 9   wind_speed         50089 non-null  float64
 10  events             50089 non-null  object
dtypes: float64(4), int64(1), object(6)
memory usage: 4.2+ MB

A file will not always have a header row. Pandas will assign default column names to each column. These default names will be integers starting from 0 up to the number of columns in the file.

In [11]:
# Reading a file without column names
data2 = pd.read_csv(r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\data-wine-white.csv", header=None)
data2

    0     1     2     3      4   5    6        7     8     9     10  11
0  7.0  0.27  0.36  20.7  45.00  45  170    1.001  3.00  0.45   8.8   6
1  6.3  0.30  0.34   1.6  49.00  14  132  994.000  3.30  0.49   9.5   6
2  8.1  0.28  0.40   6.9   0.05  30   97    9.951  3.26  0.44  10.1   6
3  7.2  0.23  0.32   8.5  58.00  47  186    9.956  3.19  0.40   9.9   6
4  7.2  0.23  0.32   8.5  58.00  47  186    9.956  3.19  0.40   9.9   6
5  8.1  0.28  0.40   6.9   0.05  30   97    9.951  3.26  0.44  10.1   6
6  6.2  0.32  0.16   7.0  45.00  30  136    9.949  3.18  0.47   9.6   6
7  7.0  0.27  0.36  20.7  45.00  45  170    1.001  3.00  0.45   8.8   6
8  6.3  0.30  0.34   1.6  49.00  14  132  994.000  3.30  0.49   9.5   6
9  8.1  0.22  0.43   1.5  44.00  28  129    9.938  3.22  0.45  11.0   6

It is important to know exactly what data we are analyzing. To specify the column names, we can set them from the load operation as follows:

In [13]:
# Reading a file without column names. Names indicated by the analyst.
column_names = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']
data3 = pd.read_csv(r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\data-wine-white.csv", names=column_names)
data3

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,45.00,45,170,1.001,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,49.00,14,132,994.000,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.05,30,97,9.951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,58.00,47,186,9.956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,58.00,47,186,9.956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.05,30,97,9.951,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.0,45.00,30,136,9.949,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.7,45.00,45,170,1.001,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.6,49.00,14,132,994.000,3.30,0.49,9.5,6
9,8.1,0.22,0.43,1.5,44.00,28,129,9.938,3.22,0.45,11.0,6

### Reading text files in pieces

When processing very large files or figuring out the right set of arguments to correctly processing a file, you may only want to read in a small piece of a file or iterate through smaller chuncks of the file. 

If you want to only read a small number of rows (avoiding reading the entire file), we use the parameter `nrows`. This is usefull to get a taste of whats inside beffore commiting a big portion of resources to the data.

In [15]:
# Reading only a piece of a file
path = r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\bikes.csv"
pd.read_csv(path,nrows=5)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
3,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,16.1,mostlycloudy
4,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,19.0,Damen Ave & Pierce Ave,19.0,73.0,17.3,partlycloudy

However, if you want to read a file in pieces, specify a `chuncksize` as a numebr of rows:

In [22]:
path = r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\bikes.csv"
chunker = pd.read_csv(path, chunksize=1000)
chunker

The TextParser object returned by the read_csv() function allowsyou to iterate over the parts of the file according to the chucksize. For example, we can iterate over the `bikes.csv` file, aggregating the value counts in the *gender* column like so:

In [32]:
path = r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\bikes.csv"
chunker = pd.read_csv(path, chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    for row in piece.values:
        tot = tot.add(piece['gender'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

C:\Users\jober\AppData\Local\Temp\ipykernel_9976\1978399301.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tot = pd.Series([])

Male      37586586.0
Female    12421335.0
dtype: float64

### Writing data to text format

Data can also be exported to a delimited format. Let's consider one of the DataFrames read before, `data3`. We can write the data in our DataFrame out to a comma separated value(csv) file by using the method `.to_csv()` in pandas.

In [38]:
# Example of exporting a DataFrame into a csv file

destination_path=r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\wine-white-with-headers.csv"

data3.to_csv(destination_path) #Please note that the destination path includes the name of the new exported file

You can perform tailored exporting from the data by subsetting the columns and rows, and in order of your choosing:

In [39]:
# Example of exporting selected columns from a DataFrame into a csv file

destination_path=r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\wine-white-reduced.csv"

data3.to_csv(destination_path, index=False, columns=['volatile acidity', 'chlorides', 'pH', 'quality'])