# Data Loading, Storage, and File Formats

Accessing data and getting it into your script is the first step of any data project. Here it is covered several ways of importing data from files and other sources into a python application, as weel as ways to export data to files. 

Input and Output typically falls into a few main categories: rerading text files and other more efficient on-disk format, loading data from databases, and interacting with network sources like web APIs.

### Content
- 1. Reading and writing data in text formats.
    - Handling Plain text.
    - Getting Tabular data from a text file.
    - Reading text files in pieces.
    - Writing data to text format.
    - Operations on other data formats.
- 2. Interacting with network sources like web APIs.
- 3. Loading data from databases.

In [1]:
import pandas as pd
import requests

## 1. Reading and writing data in text formats

### Handling Plain text 

Text can arrive in different formats. Sometimes plain text `(.txt)` is of interest. Text files are perhaps the most common file type you'll encounter. Luckily, Python doesn't require a special library for processing it; you can simply rely on the methods of the file object returned by the `*open( )*` function. 

To Python, a text file is a sequence of string objects, each of those is one line of text file - that is, a sequence of character ending in a nondisplayed new line character `(\n)` or hard return. 

Please take a look to the following example. To humans, the passage consist of four paragraphs that includes several sentences; however, to Python, the passage includes four nonempty lines and three blank lines between them.

In [2]:
# Reading a text file in Python 

path = r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\Marine.txt"

with open(path, 'r') as f:  # The first artgument 'path' specify where the file is located, the second controls how the file will be used, 'r' for read only.
    content = f.read()      # The read method reads the entire content of the file object.
print(content)

# the with keyword is used to ensure that the file object is properly closed when the action is performed.

The Marine Mammal Center (TMMC) is a private, non-profit U.S. organization that was established in 1975 for the purpose of rescuing, rehabilitating and releasing marine mammals who are injured, ill or abandoned. It was founded in Sausalito, California, by Lloyd Smalley, Pat Arrigoni and Paul Maxwell. Since 1975, TMMC has rescued over 24,000 marine mammals.

It also serves as a center for environmental research and education regarding marine mammals, namely cetaceans (whales, dolphins and porpoises), pinnipeds (seals, fur seals, walruses and sea lions), otters and sirenians (manatees and dugongs).

Marine mammal abandonment refers to maternal separation; pups that have been separated from their mother before weaning. At the center, they receive specialized veterinary care: they are diagnosed, treated, rehabilitated and ideally, released back into the wild.

Animals in need of assistance are usually identified by a member of the public who has contacted the center. These animals represent the following major species: California sea lions, northern elephant seals, Pacific harbor seals, northern fur seals, Guadalupe fur seals, Hawaiian monk seals, and southern sea otters. On a few occasions, TMMC has taken in Steller sea lions and bottlenose/Pacific white-sided dolphins. The only non-mammals that TMMC takes in are sea turtles.

Rather than print the lines, you can send them to a list using a list comprenhension:

In [3]:
# Creating a list from a text file in Python 

path = r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\Marine.txt"

with open(path, 'r') as f:  
    lst = [line.strip() for line in f if line.strip()]

lst

['The Marine Mammal Center (TMMC) is a private, non-profit U.S. organization that was established in 1975 for the purpose of rescuing, rehabilitating and releasing marine mammals who are injured, ill or abandoned. It was founded in Sausalito, California, by Lloyd Smalley, Pat Arrigoni and Paul Maxwell. Since 1975, TMMC has rescued over 24,000 marine mammals.',
 'It also serves as a center for environmental research and education regarding marine mammals, namely cetaceans (whales, dolphins and porpoises), pinnipeds (seals, fur seals, walruses and sea lions), otters and sirenians (manatees and dugongs).',
 'Marine mammal abandonment refers to maternal separation; pups that have been separated from their mother before weaning. At the center, they receive specialized veterinary care: they are diagnosed, treated, rehabilitated and ideally, released back into the wild.',
 'Animals in need of assistance are usually identified by a member of the public who has contacted the center. These animals represent the following major species: California sea lions, northern elephant seals, Pacific harbor seals, northern fur seals, Guadalupe fur seals, Hawaiian monk seals, and southern sea otters. On a few occasions, TMMC has taken in Steller sea lions and bottlenose/Pacific white-sided dolphins. The only non-mammals that TMMC takes in are sea turtles.']

From this point onwards, you can use any method available for processing strings in Python, so you can organize it a tabular form.

### Getting Tabular data from a text file

Tabular data is easy to manage with `pandas`. Pandas features a number of functions for reading tabular data as a DataFrame object. Most of the parsing functions in pandas use a character as a delimiter between  columns. However, in some cases, a table might not have a fixed delimiter, using whitespace or some other pattern to separate fields.

In [4]:
# Example of how to use a space as delimiter between columns. 
path = r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\Price_table.txt"
table = pd.read_table(path, sep='\s+') # The term (\s+) is a regular expression used to indicates the elements after a space.
table

  MemStartDate  TotalPrice  UnitPrice
0   2007-07-13        50.5        5.5
1   2006-01-13        10.4        1.4
2   2010-08-13         3.5        0.5

As show in previous chapters, the most used parsing fucntion to get data from a text file is the `read_csv` function from pandas. This function loads data from a file, URL, or file-like object using comma as default delimiter. That's why these files are simply called *comma separated value (CSV)* files.

In [5]:
# Reading data from a local CSV file
path = r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\bikes.csv"
data = pd.read_csv(path)
data.head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy

*read_csv* and many other data reading functions perform _type inference_, because the column data types are not part of the data format. It is always recommended to check data types in our data frame using `info()`. In our example, *starttime* and *stoptime* columns were identified as text (object); however a correct type would be the date-time type. This transformation is easily done as explained in chapter 3.

In [6]:
# Checking the infered data type in each column
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             50089 non-null  object
 1   starttime          50089 non-null  object
 2   stoptime           50089 non-null  object
 3   tripduration       50089 non-null  int64
 4   from_station_name  50089 non-null  object
 5   start_capacity     50083 non-null  float64
 6   to_station_name    50089 non-null  object
 7   end_capacity       50077 non-null  float64
 8   temperature        50089 non-null  float64
 9   wind_speed         50089 non-null  float64
 10  events             50089 non-null  object
dtypes: float64(4), int64(1), object(6)
memory usage: 4.2+ MB

A file will not always have a header row. Pandas will assign default column names to each column. These default names will be integers starting from 0 up to the number of columns in the file.

In [11]:
# Reading a file without column names
data2 = pd.read_csv(r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\data-wine-white.csv", header=None)
data2

    0     1     2     3      4   5    6        7     8     9     10  11
0  7.0  0.27  0.36  20.7  45.00  45  170    1.001  3.00  0.45   8.8   6
1  6.3  0.30  0.34   1.6  49.00  14  132  994.000  3.30  0.49   9.5   6
2  8.1  0.28  0.40   6.9   0.05  30   97    9.951  3.26  0.44  10.1   6
3  7.2  0.23  0.32   8.5  58.00  47  186    9.956  3.19  0.40   9.9   6
4  7.2  0.23  0.32   8.5  58.00  47  186    9.956  3.19  0.40   9.9   6
5  8.1  0.28  0.40   6.9   0.05  30   97    9.951  3.26  0.44  10.1   6
6  6.2  0.32  0.16   7.0  45.00  30  136    9.949  3.18  0.47   9.6   6
7  7.0  0.27  0.36  20.7  45.00  45  170    1.001  3.00  0.45   8.8   6
8  6.3  0.30  0.34   1.6  49.00  14  132  994.000  3.30  0.49   9.5   6
9  8.1  0.22  0.43   1.5  44.00  28  129    9.938  3.22  0.45  11.0   6

It is important to know exactly what data we are analyzing. To specify the column names, we can set them from the load operation as follows:

In [13]:
# Reading a file without column names. Names indicated by the analyst.
column_names = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']
data3 = pd.read_csv(r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\data-wine-white.csv", names=column_names)
data3

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,45.00,45,170,1.001,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,49.00,14,132,994.000,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.05,30,97,9.951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,58.00,47,186,9.956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,58.00,47,186,9.956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.05,30,97,9.951,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.0,45.00,30,136,9.949,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.7,45.00,45,170,1.001,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.6,49.00,14,132,994.000,3.30,0.49,9.5,6
9,8.1,0.22,0.43,1.5,44.00,28,129,9.938,3.22,0.45,11.0,6

### Reading text files in pieces

When processing very large files or figuring out the right set of arguments to correctly processing a file, you may only want to read in a small piece of a file or iterate through smaller chuncks of the file. 

If you want to only read a small number of rows (avoiding reading the entire file), we use the parameter `nrows`. This is usefull to get a taste of whats inside beffore commiting a big portion of resources to the data.

In [15]:
# Reading only a piece of a file
path = r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\bikes.csv"
pd.read_csv(path,nrows=5)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
3,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,16.1,mostlycloudy
4,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,19.0,Damen Ave & Pierce Ave,19.0,73.0,17.3,partlycloudy

However, if you want to read a file in pieces, specify a `chuncksize` as a numebr of rows:

In [22]:
path = r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\bikes.csv"
chunker = pd.read_csv(path, chunksize=1000)
chunker

The TextParser object returned by the read_csv() function allowsyou to iterate over the parts of the file according to the chucksize. For example, we can iterate over the `bikes.csv` file, aggregating the value counts in the *gender* column like so:

In [65]:
path = r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\bikes.csv"
chunker = pd.read_csv(path, chunksize=1000)

tot = pd.Series([], dtype="float64")    # Artificial varible used to count men and women in the dataset
data_complete = pd.DataFrame()          # New DataFrame to be filled with every chunk
i = 0                                   # Counter of the interation

for piece in chunker:
    i = i + 1
    tot = tot.add(piece['gender'].value_counts(), fill_value=0) # Calculates the accumulated number of men and women after every iteration
    print(f'Up to the iteration {i}, we have:\n',tot)           # Print the result at every stage
    data_complete = pd.concat([piece,data_complete])            # Aggregates the target DataFrame

tot = tot.sort_values(ascending=False)

Up to the iteration 1, we have:
 Male      764.0
Female    236.0
dtype: float64
Up to the iteration 2, we have:
 Male      1560.0
Female     440.0
dtype: float64
Up to the iteration 3, we have:
 Male      2377.0
Female     623.0
dtype: float64
Up to the iteration 4, we have:
 Male      3157.0
Female     843.0
dtype: float64
Up to the iteration 5, we have:
 Male      3884.0
Female    1116.0
dtype: float64
Up to the iteration 6, we have:
 Male      4604.0
Female    1396.0
dtype: float64
Up to the iteration 7, we have:
 Male      5347.0
Female    1653.0
dtype: float64
Up to the iteration 8, we have:
 Male      6079.0
Female    1921.0
dtype: float64
Up to the iteration 9, we have:
 Male      6827.0
Female    2173.0
dtype: float64
Up to the iteration 10, we have:
 Male      7602.0
Female    2398.0
dtype: float64
Up to the iteration 11, we have:
 Male      8409.0
Female    2591.0
dtype: float64
Up to the iteration 12, we have:
 Male      9191.0
Female    2809.0
dtype: float64
Up to the iteration 13, we have:
 Male      9939.0
Female    3061.0
dtype: float64
Up to the iteration 14, we have:
 Male      10659.0
Female     3341.0
dtype: float64
Up to the iteration 15, we have:
 Male      11378.0
Female     3622.0
dtype: float64
Up to the iteration 16, we have:
 Male      12107.0
Female     3893.0
dtype: float64
Up to the iteration 17, we have:
 Male      12826.0
Female     4174.0
dtype: float64
Up to the iteration 18, we have:
 Male      13560.0
Female     4440.0
dtype: float64
Up to the iteration 19, we have:
 Male      14297.0
Female     4703.0
dtype: float64
Up to the iteration 20, we have:
 Male      15071.0
Female     4929.0
dtype: float64
Up to the iteration 21, we have:
 Male      15860.0
Female     5140.0
dtype: float64
Up to the iteration 22, we have:
 Male      16678.0
Female     5322.0
dtype: float64
Up to the iteration 23, we have:
 Male      17478.0
Female     5522.0
dtype: float64
Up to the iteration 24, we have:
 Male      18245.0
Female     5755.0
dtype: float64
Up to the iteration 25, we have:
 Male      18996.0
Female     6004.0
dtype: float64
Up to the iteration 26, we have:
 Male      19734.0
Female     6266.0
dtype: float64
Up to the iteration 27, we have:
 Male      20466.0
Female     6534.0
dtype: float64
Up to the iteration 28, we have:
 Male      21183.0
Female     6817.0
dtype: float64
Up to the iteration 29, we have:
 Male      21872.0
Female     7128.0
dtype: float64
Up to the iteration 30, we have:
 Male      22582.0
Female     7418.0
dtype: float64
Up to the iteration 31, we have:
 Male      23316.0
Female     7684.0
dtype: float64
Up to the iteration 32, we have:
 Male      24058.0
Female     7942.0
dtype: float64
Up to the iteration 33, we have:
 Male      24811.0
Female     8189.0
dtype: float64
Up to the iteration 34, we have:
 Male      25557.0
Female     8443.0
dtype: float64
Up to the iteration 35, we have:
 Male      26333.0
Female     8667.0
dtype: float64
Up to the iteration 36, we have:
 Male      27130.0
Female     8870.0
dtype: float64
Up to the iteration 37, we have:
 Male      27889.0
Female     9111.0
dtype: float64
Up to the iteration 38, we have:
 Male      28652.0
Female     9348.0
dtype: float64
Up to the iteration 39, we have:
 Male      29378.0
Female     9622.0
dtype: float64
Up to the iteration 40, we have:
 Male      30112.0
Female     9888.0
dtype: float64
Up to the iteration 41, we have:
 Male      30858.0
Female    10142.0
dtype: float64
Up to the iteration 42, we have:
 Male      31597.0
Female    10403.0
dtype: float64
Up to the iteration 43, we have:
 Male      32326.0
Female    10674.0
dtype: float64
Up to the iteration 44, we have:
 Male      33034.0
Female    10966.0
dtype: float64
Up to the iteration 45, we have:
 Male      33779.0
Female    11221.0
dtype: float64
Up to the iteration 46, we have:
 Male      34522.0
Female    11478.0
dtype: float64
Up to the iteration 47, we have:
 Male      35274.0
Female    11726.0
dtype: float64
Up to the iteration 48, we have:
 Male      36029.0
Female    11971.0
dtype: float64
Up to the iteration 49, we have:
 Male      36797.0
Female    12203.0
dtype: float64
Up to the iteration 50, we have:
 Male      37580.0
Female    12420.0
dtype: float64
Up to the iteration 51, we have:
 Male      37654.0
Female    12435.0
dtype: float64

The final compilation of the TextParser object is the desired DataFrame.

In [67]:
data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50089 entries, 50000 to 999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             50089 non-null  object
 1   starttime          50089 non-null  object
 2   stoptime           50089 non-null  object
 3   tripduration       50089 non-null  int64
 4   from_station_name  50089 non-null  object
 5   start_capacity     50083 non-null  float64
 6   to_station_name    50089 non-null  object
 7   end_capacity       50077 non-null  float64
 8   temperature        50089 non-null  float64
 9   wind_speed         50089 non-null  float64
 10  events             50089 non-null  object
dtypes: float64(4), int64(1), object(6)
memory usage: 4.6+ MB

### Writing data to text format

Data can also be exported to a delimited format. Let's consider one of the DataFrames read before, `data3`. We can write the data in our DataFrame out to a comma separated value(csv) file by using the method `.to_csv()` in pandas.

In [38]:
# Example of exporting a DataFrame into a csv file

destination_path=r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\wine-white-with-headers.csv"

data3.to_csv(destination_path) #Please note that the destination path includes the name of the new exported file

You can perform tailored exporting from the data by subsetting the columns and rows, and in order of your choosing:

In [39]:
# Example of exporting selected columns from a DataFrame into a csv file

destination_path=r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\wine-white-reduced.csv"

data3.to_csv(destination_path, index=False, columns=['volatile acidity', 'chlorides', 'pH', 'quality'])

### Operations on other data formats 

One of the easiest way to store data (also knonw as serialization) efficiently in binary format is using Python's built-in `pickle` serialization. Pickle is left out of this chapter because it is only recommended as short-term storage format, and its use in dicline. 

`Apache Parquet` is a format nowadays used to store data on remote servers, like Amazon S3 or HDFS. It was designed for distribuited storage, but it is ease to read in using the pandas' function `read_parquet()`. Otherwise it is similar to other text formats explained.

Logistics to load and/or write data from(to) many other text data formats (such as excel) are pretty similar. Thus, study of the official Python documentation is suggested to the reader.

In [88]:
parquet = pd.read_parquet(r"C:\Users\jober\OneDrive\Desktop\Data Science\Data Science - Study notes\Data_used\taxi.parquet")
parquet.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.5,1.0,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN,None
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.6,1.0,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN,None
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3.0,0.0,1.0,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN,None
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5.0,0.0,1.0,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN,None
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5.0,0.0,2.0,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN,None

## 2. Interacting with network sources like web APIs.

Many websites have public APIs providing dat feeds via JSON (JavaScript Object Notation) format or some other format. There are a number of ways to access these APIs from Python; one easy-to-use and recommended method is the `request` package.

There are many APIs on the internet, some are public and some are not. Those who are public offers free access to it's data, so we only have to pull a request from the endpoint avaliable.

> To obtain some financial data we can go to _https://fiscaldata.treasury.gov/api-documentation/_, where the The U.S. Department of the Treasury is building a suite of open-source tools to deliver standardized information about federal finances to the public.

In [2]:
# A best practice is define the base-url and the endpoint as separated strings:

base_url = 'https://api.fiscaldata.treasury.gov/services/api/fiscal_service'
endpoint = '/v1/accounting/od/rates_of_exchange'

We can make a HTTP request using the add-on request library:

In [3]:
# Headers are required for some APIs. In this case, the chosen API suggests us to state the header

headers = {
  'Accept': 'application/json'
}

# strings are concatenated with a + operator as any other string
resp = requests.get(base_url + endpoint, params={}, headers = headers)

At this point, the response indicates the state of connection

In [4]:
resp

The Response code `200` indicates a positive answer from the data server, hence the data is available. Code `400` means that a *Bad Request* has occurred and `500` means the occurrence of an *Internal Server Error*.

The Response object's json method will return a dictionary containing JSON parsed into native Python objects:

In [7]:
resp.json()

{'data': [{'record_date': '2001-03-31',
   'country': 'Afghanistan',
   'currency': 'Afghani',
   'country_currency_desc': 'Afghanistan-Afghani',
   'exchange_rate': '78400.0',
   'effective_date': '2001-03-31',
   'src_line_nbr': '1',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Albania',
   'currency': 'Lek',
   'country_currency_desc': 'Albania-Lek',
   'exchange_rate': '142.4',
   'effective_date': '2001-03-31',
   'src_line_nbr': '2',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Algeria',
   'currency': 'Dinar',
   'country_currency_desc': 'Algeria-Dinar',
   'exchange_rate': '76.539',
   'effective_date': '2001-03-31',
   'src_line_nbr': '3',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Angola',
   'currency': 'Kwanza',
   'country_currency_desc': 'Angola-Kwanza',
   'exchange_rate': '19.706',
   'effective_date': '2001-03-31',
   'src_line_nbr': '4',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Antigua & Barbuda',
   'currency': 'E. Caribbean Dollar',
   'country_currency_desc': 'Antigua & Barbuda-E. Caribbean Dollar',
   'exchange_rate': '2.7',
   'effective_date': '2001-03-31',
   'src_line_nbr': '5',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Argentina',
   'currency': 'Peso',
   'country_currency_desc': 'Argentina-Peso',
   'exchange_rate': '1.0',
   'effective_date': '2001-03-31',
   'src_line_nbr': '6',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Armenia',
   'currency': 'Dram',
   'country_currency_desc': 'Armenia-Dram',
   'exchange_rate': '550.0',
   'effective_date': '2001-03-31',
   'src_line_nbr': '7',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Australia',
   'currency': 'Dollar',
   'country_currency_desc': 'Australia-Dollar',
   'exchange_rate': '1.903',
   'effective_date': '2001-03-31',
   'src_line_nbr': '8',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Austria',
   'currency': 'Euro',
   'country_currency_desc': 'Austria-Euro',
   'exchange_rate': '1.083',
   'effective_date': '2001-03-31',
   'src_line_nbr': '9',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Austria',
   'currency': 'Schilling',
   'country_currency_desc': 'Austria-Schilling',
   'exchange_rate': '14.908',
   'effective_date': '2001-03-31',
   'src_line_nbr': '10',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Azerbaidjan',
   'currency': 'Second Manat',
   'country_currency_desc': 'Azerbaidjan-Second Manat',
   'exchange_rate': '4600.0',
   'effective_date': '2001-03-31',
   'src_line_nbr': '11',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Bahamas',
   'currency': 'Dollar',
   'country_currency_desc': 'Bahamas-Dollar',
   'exchange_rate': '1.0',
   'effective_date': '2001-03-31',
   'src_line_nbr': '12',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Bahrain',
   'currency': 'Dinar',
   'country_currency_desc': 'Bahrain-Dinar',
   'exchange_rate': '0.377',
   'effective_date': '2001-03-31',
   'src_line_nbr': '13',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Bangladesh',
   'currency': 'Taka',
   'country_currency_desc': 'Bangladesh-Taka',
   'exchange_rate': '54.0',
   'effective_date': '2001-03-31',
   'src_line_nbr': '14',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Barbados',
   'currency': 'Dollar',
   'country_currency_desc': 'Barbados-Dollar',
   'exchange_rate': '2.0',
   'effective_date': '2001-03-31',
   'src_line_nbr': '15',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Belarus',
   'currency': 'Ruble',
   'country_currency_desc': 'Belarus-Ruble',
   'exchange_rate': '1230.0',
   'effective_date': '2001-03-31',
   'src_line_nbr': '16',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Belgium',
   'currency': 'Euro',
   'country_currency_desc': 'Belgium-Euro',
   'exchange_rate': '1.083',
   'effective_date': '2001-03-31',
   'src_line_nbr': '17',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Belgium',
   'currency': 'Francs',
   'country_currency_desc': 'Belgium-Francs',
   'exchange_rate': '43.705',
   'effective_date': '2001-03-31',
   'src_line_nbr': '18',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Belize',
   'currency': 'Dollar',
   'country_currency_desc': 'Belize-Dollar',
   'exchange_rate': '2.0',
   'effective_date': '2001-03-31',
   'src_line_nbr': '19',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Benin',
   'currency': 'CFA Franc',
   'country_currency_desc': 'Benin-CFA Franc',
   'exchange_rate': '710.53',
   'effective_date': '2001-03-31',
   'src_line_nbr': '20',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Bermuda',
   'currency': 'Dollar',
   'country_currency_desc': 'Bermuda-Dollar',
   'exchange_rate': '1.0',
   'effective_date': '2001-03-31',
   'src_line_nbr': '21',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Bolivia',
   'currency': 'Boliviano',
   'country_currency_desc': 'Bolivia-Boliviano',
   'exchange_rate': '6.438',
   'effective_date': '2001-03-31',
   'src_line_nbr': '22',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Bosnia',
   'currency': 'Marka',
   'country_currency_desc': 'Bosnia-Marka',
   'exchange_rate': '2.119',
   'effective_date': '2001-03-31',
   'src_line_nbr': '23',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Botswana',
   'currency': 'Pula',
   'country_currency_desc': 'Botswana-Pula',
   'exchange_rate': '5.376',
   'effective_date': '2001-03-31',
   'src_line_nbr': '24',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Brazil',
   'currency': 'Real',
   'country_currency_desc': 'Brazil-Real',
   'exchange_rate': '2.043',
   'effective_date': '2001-03-31',
   'src_line_nbr': '25',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Brunei',
   'currency': 'Dollar',
   'country_currency_desc': 'Brunei-Dollar',
   'exchange_rate': '1.741',
   'effective_date': '2001-03-31',
   'src_line_nbr': '26',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Bulgaria',
   'currency': 'Lev New',
   'country_currency_desc': 'Bulgaria-Lev New',
   'exchange_rate': '2.114',
   'effective_date': '2001-03-31',
   'src_line_nbr': '27',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Burkina Faso',
   'currency': 'CFA Franc',
   'country_currency_desc': 'Burkina Faso-CFA Franc',
   'exchange_rate': '710.53',
   'effective_date': '2001-03-31',
   'src_line_nbr': '28',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Burundi',
   'currency': 'Franc',
   'country_currency_desc': 'Burundi-Franc',
   'exchange_rate': '780.588',
   'effective_date': '2001-03-31',
   'src_line_nbr': '30',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Cambodia',
   'currency': 'Riel',
   'country_currency_desc': 'Cambodia-Riel',
   'exchange_rate': '3910.0',
   'effective_date': '2001-03-31',
   'src_line_nbr': '31',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Cameroon',
   'currency': 'CFA Franc',
   'country_currency_desc': 'Cameroon-CFA Franc',
   'exchange_rate': '710.53',
   'effective_date': '2001-03-31',
   'src_line_nbr': '32',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Canada',
   'currency': 'Dollar',
   'country_currency_desc': 'Canada-Dollar',
   'exchange_rate': '1.532',
   'effective_date': '2001-03-31',
   'src_line_nbr': '33',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Cape Verde',
   'currency': 'Escudo',
   'country_currency_desc': 'Cape Verde-Escudo',
   'exchange_rate': '121.203',
   'effective_date': '2001-03-31',
   'src_line_nbr': '34',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Central African Rep.',
   'currency': 'CFA Franc',
   'country_currency_desc': 'Central African Rep.-CFA Franc',
   'exchange_rate': '710.53',
   'effective_date': '2001-03-31',
   'src_line_nbr': '35',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Chad',
   'currency': 'CFA Franc',
   'country_currency_desc': 'Chad-CFA Franc',
   'exchange_rate': '710.53',
   'effective_date': '2001-03-31',
   'src_line_nbr': '36',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Chile',
   'currency': 'Peso',
   'country_currency_desc': 'Chile-Peso',
   'exchange_rate': '574.04',
   'effective_date': '2001-03-31',
   'src_line_nbr': '37',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'China',
   'currency': 'Renminbi',
   'country_currency_desc': 'China-Renminbi',
   'exchange_rate': '8.266',
   'effective_date': '2001-03-31',
   'src_line_nbr': '38',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Colombia',
   'currency': 'Peso',
   'country_currency_desc': 'Colombia-Peso',
   'exchange_rate': '2262.8',
   'effective_date': '2001-03-31',
   'src_line_nbr': '39',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Comoros',
   'currency': 'Franc',
   'country_currency_desc': 'Comoros-Franc',
   'exchange_rate': '532.898',
   'effective_date': '2001-03-31',
   'src_line_nbr': '40',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Congo',
   'currency': 'CFA Franc',
   'country_currency_desc': 'Congo-CFA Franc',
   'exchange_rate': '710.53',
   'effective_date': '2001-03-31',
   'src_line_nbr': '41',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Costa Rica',
   'currency': 'Colon',
   'country_currency_desc': 'Costa Rica-Colon',
   'exchange_rate': '321.01',
   'effective_date': '2001-03-31',
   'src_line_nbr': '42',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': "Cote D'ivoire",
   'currency': 'CFA Franc',
   'country_currency_desc': "Cote D'ivoire-CFA Franc",
   'exchange_rate': '710.53',
   'effective_date': '2001-03-31',
   'src_line_nbr': '43',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Croatia',
   'currency': 'KUNA',
   'country_currency_desc': 'Croatia-KUNA',
   'exchange_rate': '8.456',
   'effective_date': '2001-03-31',
   'src_line_nbr': '44',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Cyprus',
   'currency': 'Pound',
   'country_currency_desc': 'Cyprus-Pound',
   'exchange_rate': '0.627',
   'effective_date': '2001-03-31',
   'src_line_nbr': '45',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Czech. Republic',
   'currency': 'Koruna',
   'country_currency_desc': 'Czech. Republic-Koruna',
   'exchange_rate': '36.631',
   'effective_date': '2001-03-31',
   'src_line_nbr': '46',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Dem. Rep. of Congo',
   'currency': 'Franc',
   'country_currency_desc': 'Dem. Rep. of Congo-Franc',
   'exchange_rate': '50.0',
   'effective_date': '2001-03-31',
   'src_line_nbr': '47',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Denmark',
   'currency': 'Krone',
   'country_currency_desc': 'Denmark-Krone',
   'exchange_rate': '8.084',
   'effective_date': '2001-03-31',
   'src_line_nbr': '48',
   'record_fiscal_year': '2001',
   'record_fiscal_quarter': '2',
   'record_calendar_year': '2001',
   'record_calendar_quarter': '1',
   'record_calendar_month': '03',
   'record_calendar_day': '31'},
  {'record_date': '2001-03-31',
   'country': 'Djibouti',
   'currency': 'Franc',

Ths JSON object retrieved contains not only the data itself, but also the meta data, data types, data formats, and links (View the result above as a scrollable element or open in a text editor). However, working with these objects is easy: "they operates as Python dictionaries".

In [9]:
# We can extract the data by using the 'data' key as follows:
data = resp.json()
data = data['data']
data

[{'record_date': '2001-03-31',
  'country': 'Afghanistan',
  'currency': 'Afghani',
  'country_currency_desc': 'Afghanistan-Afghani',
  'exchange_rate': '78400.0',
  'effective_date': '2001-03-31',
  'src_line_nbr': '1',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Albania',
  'currency': 'Lek',
  'country_currency_desc': 'Albania-Lek',
  'exchange_rate': '142.4',
  'effective_date': '2001-03-31',
  'src_line_nbr': '2',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Algeria',
  'currency': 'Dinar',
  'country_currency_desc': 'Algeria-Dinar',
  'exchange_rate': '76.539',
  'effective_date': '2001-03-31',
  'src_line_nbr': '3',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Angola',
  'currency': 'Kwanza',
  'country_currency_desc': 'Angola-Kwanza',
  'exchange_rate': '19.706',
  'effective_date': '2001-03-31',
  'src_line_nbr': '4',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Antigua & Barbuda',
  'currency': 'E. Caribbean Dollar',
  'country_currency_desc': 'Antigua & Barbuda-E. Caribbean Dollar',
  'exchange_rate': '2.7',
  'effective_date': '2001-03-31',
  'src_line_nbr': '5',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Argentina',
  'currency': 'Peso',
  'country_currency_desc': 'Argentina-Peso',
  'exchange_rate': '1.0',
  'effective_date': '2001-03-31',
  'src_line_nbr': '6',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Armenia',
  'currency': 'Dram',
  'country_currency_desc': 'Armenia-Dram',
  'exchange_rate': '550.0',
  'effective_date': '2001-03-31',
  'src_line_nbr': '7',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Australia',
  'currency': 'Dollar',
  'country_currency_desc': 'Australia-Dollar',
  'exchange_rate': '1.903',
  'effective_date': '2001-03-31',
  'src_line_nbr': '8',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Austria',
  'currency': 'Euro',
  'country_currency_desc': 'Austria-Euro',
  'exchange_rate': '1.083',
  'effective_date': '2001-03-31',
  'src_line_nbr': '9',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Austria',
  'currency': 'Schilling',
  'country_currency_desc': 'Austria-Schilling',
  'exchange_rate': '14.908',
  'effective_date': '2001-03-31',
  'src_line_nbr': '10',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Azerbaidjan',
  'currency': 'Second Manat',
  'country_currency_desc': 'Azerbaidjan-Second Manat',
  'exchange_rate': '4600.0',
  'effective_date': '2001-03-31',
  'src_line_nbr': '11',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Bahamas',
  'currency': 'Dollar',
  'country_currency_desc': 'Bahamas-Dollar',
  'exchange_rate': '1.0',
  'effective_date': '2001-03-31',
  'src_line_nbr': '12',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Bahrain',
  'currency': 'Dinar',
  'country_currency_desc': 'Bahrain-Dinar',
  'exchange_rate': '0.377',
  'effective_date': '2001-03-31',
  'src_line_nbr': '13',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Bangladesh',
  'currency': 'Taka',
  'country_currency_desc': 'Bangladesh-Taka',
  'exchange_rate': '54.0',
  'effective_date': '2001-03-31',
  'src_line_nbr': '14',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Barbados',
  'currency': 'Dollar',
  'country_currency_desc': 'Barbados-Dollar',
  'exchange_rate': '2.0',
  'effective_date': '2001-03-31',
  'src_line_nbr': '15',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Belarus',
  'currency': 'Ruble',
  'country_currency_desc': 'Belarus-Ruble',
  'exchange_rate': '1230.0',
  'effective_date': '2001-03-31',
  'src_line_nbr': '16',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Belgium',
  'currency': 'Euro',
  'country_currency_desc': 'Belgium-Euro',
  'exchange_rate': '1.083',
  'effective_date': '2001-03-31',
  'src_line_nbr': '17',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Belgium',
  'currency': 'Francs',
  'country_currency_desc': 'Belgium-Francs',
  'exchange_rate': '43.705',
  'effective_date': '2001-03-31',
  'src_line_nbr': '18',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Belize',
  'currency': 'Dollar',
  'country_currency_desc': 'Belize-Dollar',
  'exchange_rate': '2.0',
  'effective_date': '2001-03-31',
  'src_line_nbr': '19',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Benin',
  'currency': 'CFA Franc',
  'country_currency_desc': 'Benin-CFA Franc',
  'exchange_rate': '710.53',
  'effective_date': '2001-03-31',
  'src_line_nbr': '20',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Bermuda',
  'currency': 'Dollar',
  'country_currency_desc': 'Bermuda-Dollar',
  'exchange_rate': '1.0',
  'effective_date': '2001-03-31',
  'src_line_nbr': '21',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Bolivia',
  'currency': 'Boliviano',
  'country_currency_desc': 'Bolivia-Boliviano',
  'exchange_rate': '6.438',
  'effective_date': '2001-03-31',
  'src_line_nbr': '22',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Bosnia',
  'currency': 'Marka',
  'country_currency_desc': 'Bosnia-Marka',
  'exchange_rate': '2.119',
  'effective_date': '2001-03-31',
  'src_line_nbr': '23',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Botswana',
  'currency': 'Pula',
  'country_currency_desc': 'Botswana-Pula',
  'exchange_rate': '5.376',
  'effective_date': '2001-03-31',
  'src_line_nbr': '24',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Brazil',
  'currency': 'Real',
  'country_currency_desc': 'Brazil-Real',
  'exchange_rate': '2.043',
  'effective_date': '2001-03-31',
  'src_line_nbr': '25',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Brunei',
  'currency': 'Dollar',
  'country_currency_desc': 'Brunei-Dollar',
  'exchange_rate': '1.741',
  'effective_date': '2001-03-31',
  'src_line_nbr': '26',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Bulgaria',
  'currency': 'Lev New',
  'country_currency_desc': 'Bulgaria-Lev New',
  'exchange_rate': '2.114',
  'effective_date': '2001-03-31',
  'src_line_nbr': '27',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Burkina Faso',
  'currency': 'CFA Franc',
  'country_currency_desc': 'Burkina Faso-CFA Franc',
  'exchange_rate': '710.53',
  'effective_date': '2001-03-31',
  'src_line_nbr': '28',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Burundi',
  'currency': 'Franc',
  'country_currency_desc': 'Burundi-Franc',
  'exchange_rate': '780.588',
  'effective_date': '2001-03-31',
  'src_line_nbr': '30',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Cambodia',
  'currency': 'Riel',
  'country_currency_desc': 'Cambodia-Riel',
  'exchange_rate': '3910.0',
  'effective_date': '2001-03-31',
  'src_line_nbr': '31',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Cameroon',
  'currency': 'CFA Franc',
  'country_currency_desc': 'Cameroon-CFA Franc',
  'exchange_rate': '710.53',
  'effective_date': '2001-03-31',
  'src_line_nbr': '32',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Canada',
  'currency': 'Dollar',
  'country_currency_desc': 'Canada-Dollar',
  'exchange_rate': '1.532',
  'effective_date': '2001-03-31',
  'src_line_nbr': '33',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Cape Verde',
  'currency': 'Escudo',
  'country_currency_desc': 'Cape Verde-Escudo',
  'exchange_rate': '121.203',
  'effective_date': '2001-03-31',
  'src_line_nbr': '34',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Central African Rep.',
  'currency': 'CFA Franc',
  'country_currency_desc': 'Central African Rep.-CFA Franc',
  'exchange_rate': '710.53',
  'effective_date': '2001-03-31',
  'src_line_nbr': '35',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Chad',
  'currency': 'CFA Franc',
  'country_currency_desc': 'Chad-CFA Franc',
  'exchange_rate': '710.53',
  'effective_date': '2001-03-31',
  'src_line_nbr': '36',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Chile',
  'currency': 'Peso',
  'country_currency_desc': 'Chile-Peso',
  'exchange_rate': '574.04',
  'effective_date': '2001-03-31',
  'src_line_nbr': '37',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'China',
  'currency': 'Renminbi',
  'country_currency_desc': 'China-Renminbi',
  'exchange_rate': '8.266',
  'effective_date': '2001-03-31',
  'src_line_nbr': '38',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Colombia',
  'currency': 'Peso',
  'country_currency_desc': 'Colombia-Peso',
  'exchange_rate': '2262.8',
  'effective_date': '2001-03-31',
  'src_line_nbr': '39',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Comoros',
  'currency': 'Franc',
  'country_currency_desc': 'Comoros-Franc',
  'exchange_rate': '532.898',
  'effective_date': '2001-03-31',
  'src_line_nbr': '40',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Congo',
  'currency': 'CFA Franc',
  'country_currency_desc': 'Congo-CFA Franc',
  'exchange_rate': '710.53',
  'effective_date': '2001-03-31',
  'src_line_nbr': '41',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Costa Rica',
  'currency': 'Colon',
  'country_currency_desc': 'Costa Rica-Colon',
  'exchange_rate': '321.01',
  'effective_date': '2001-03-31',
  'src_line_nbr': '42',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': "Cote D'ivoire",
  'currency': 'CFA Franc',
  'country_currency_desc': "Cote D'ivoire-CFA Franc",
  'exchange_rate': '710.53',
  'effective_date': '2001-03-31',
  'src_line_nbr': '43',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Croatia',
  'currency': 'KUNA',
  'country_currency_desc': 'Croatia-KUNA',
  'exchange_rate': '8.456',
  'effective_date': '2001-03-31',
  'src_line_nbr': '44',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Cyprus',
  'currency': 'Pound',
  'country_currency_desc': 'Cyprus-Pound',
  'exchange_rate': '0.627',
  'effective_date': '2001-03-31',
  'src_line_nbr': '45',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Czech. Republic',
  'currency': 'Koruna',
  'country_currency_desc': 'Czech. Republic-Koruna',
  'exchange_rate': '36.631',
  'effective_date': '2001-03-31',
  'src_line_nbr': '46',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Dem. Rep. of Congo',
  'currency': 'Franc',
  'country_currency_desc': 'Dem. Rep. of Congo-Franc',
  'exchange_rate': '50.0',
  'effective_date': '2001-03-31',
  'src_line_nbr': '47',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Denmark',
  'currency': 'Krone',
  'country_currency_desc': 'Denmark-Krone',
  'exchange_rate': '8.084',
  'effective_date': '2001-03-31',
  'src_line_nbr': '48',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Djibouti',
  'currency': 'Franc',
  'country_currency_desc': 'Djibouti-Franc',
  'exchange_rate': '176.95',
  'effective_date': '2001-03-31',
  'src_line_nbr': '49',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',
  'record_calendar_year': '2001',
  'record_calendar_quarter': '1',
  'record_calendar_month': '03',
  'record_calendar_day': '31'},
 {'record_date': '2001-03-31',
  'country': 'Dominican Republic',
  'currency': 'Peso',
  'country_currency_desc': 'Dominican Republic-Peso',
  'exchange_rate': '16.588',
  'effective_date': '2001-03-31',
  'src_line_nbr': '50',
  'record_fiscal_year': '2001',
  'record_fiscal_quarter': '2',

You can filter the data of interest operating the list of dictionaries as any other Python object. Let's see the country names only:

In [39]:
# In this case we use the map The map() function, which is a builtin python function that applies 
# a specified function to each item in an iterable

# The function below extract the value for the key "Country":
def func(dict):
    return dict['country']

# applying the function to all the dictionaries present in the list.
countries = list(map(func,data))

# Printing the first 10 values of the list, we get:
countries[:9]

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua & Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria']

In every case, we can transform the JSON object to a data frame using pandas' DataFrame function:

In [40]:
currency_rate = pd.DataFrame(data)
currency_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   record_date              100 non-null    object
 1   country                  100 non-null    object
 2   currency                 100 non-null    object
 3   country_currency_desc    100 non-null    object
 4   exchange_rate            100 non-null    object
 5   effective_date           100 non-null    object
 6   src_line_nbr             100 non-null    object
 7   record_fiscal_year       100 non-null    object
 8   record_fiscal_quarter    100 non-null    object
 9   record_calendar_year     100 non-null    object
 10  record_calendar_quarter  100 non-null    object
 11  record_calendar_month    100 non-null    object
 12  record_calendar_day      100 non-null    object
dtypes: object(13)
memory usage: 10.3+ KB

From here, you can operates the DataFrame as explained in previous chapters. 

### Warning note
Care must be taken when extracting data from APIs. Any API is singular by itself, then an analysis must be made over it's structure and type of data it contains.